.cdebug-result {
	border-bottom: 1px solid #ccc;
	border-left: 8px solid #045FB4;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin: 2px 2px 10px;
	padding: 10px;
}

.cdebug-result-head {
	background-color: #CEF6D8;
	font-size: 16px;
	font-weight: bold;
	padding: 5px;
}